<div class="container">
    <div class="header">
        
        <h1>Confirmação de Pagamento PIX</h1>
    </div>
    <div class="details">
        <p><strong>Deseja confirmar o pagamento PIX no valor de:</strong></p>
        <p><strong>R$ 100,00</strong></p>
        <p><strong>Beneficiário:</strong> João da Silva</p>
        <p><strong>CPF/CNPJ:</strong> 123.456.789-00</p>
        <!-- Adicione mais informações do pagamento conforme necessário -->
    </div>
    <div class="footer">
        <button type="button" class="btn btn-secondary">Cancelar</button>
        <button type="button" class="btn btn-primary">Confirmar Pagamento</button>
    </div>
    <div>
        <img src="assets/landingPage/logo_foguete.png" alt="Logo Star Bank" class="logo">
    </div>
</div>
