<div class="container" id="card-withdrawal">
  <div class="saque-container">
    <h2 class="text-center mb-4" id="text-title">Solicitação de Saque</h2>
    <p class="text-center">Seu saldo atual é: R$1,000.00</p>
    
    <div class="text-center mb-4">
        <label for="other-value">Escolha um valor de saque:</label>
        <div class="btn-group">
            <button class="btn btn-primary mb-2 d-block" id="button" (click)="selectValue(20)">R$ 20</button>
            <button class="btn btn-primary mb-2 d-block" id="button" (click)="selectValue(50)">R$ 50</button>
            <button class="btn btn-primary mb-2 d-block" id="button" (click)="selectValue(100)">R$ 100</button>
            <button class="btn btn-primary mb-2 d-block" id="button" (click)="selectValue(500)">R$ 500</button>
        </div>
        <button class="btn btn-primary mb-2 d-block" id="button" (click)="openInput()">Outro Valor</button>
        <div class="text-center mb-4" *ngIf="showInput">
            <input type="number" id="other-value" #otherValue placeholder="Digite o valor a ser sacado" class="form-control">        
            <button class="btn btn-primary btn-lg btn-block" (click)="requestWithdrawal()">Solicitar Saque</button>
        </div>
    </div>

  </div>
</div>
