<!-- Modal 1 -->
<div *ngIf="currentModal === 1" class="modal-content">
  <button class="back-button" routerLink="/land"><i class="fas fa-arrow-left"></i> Voltar</button>
  <h1>StarPay</h1>
  <h3>Bem vindo, ficamos muito felizes em te ver por aqui.</h3>

  <div class="form-wrapper">
    <input type="text" class="form-control" id="razaoSocial" placeholder="Razão Social" [(ngModel)]="name"
      name="companyName" required>
    <input type="text" class="form-control" id="fantasyName" placeholder="Fantasy Name" [(ngModel)]="fantasyName"
      name="companyName" required>
    <input type="text" class="form-control" id="cnpj" placeholder="CNPJ" [(ngModel)]="cnpj" name="cnpj" required>
    <input type="text" class="form-control" id="stateRegistration" placeholder="Inscrição Estadual"
      [(ngModel)]="stateRegistration" name="stateRegistration" required>
    <input type="text" class="form-control" id="annualBillingInCents" placeholder="Faturamento Anual"
      [(ngModel)]="annualBillingInCents" name="annualBillingInCents" required>
    <label for="taxationType">Tributação:</label>
    <select id="taxation" [(ngModel)]="taxation" name="taxation" required>
      <option value="individual">Individual</option>
      <option value="corporate">Corporate</option>
      <option value="partnership">Partnership</option>
      <option value="limited-liability-company">Limited Liability Company</option>
    </select>
    <div class="div-button">
      <button class="button-primary" (click)="nextModal()">Enviar</button>
    </div>
  </div>
</div>



<!-- Modal 2 -->
<div *ngIf="currentModal === 2" class="modal-content modal-dois">

  <button class="back-button" (click)="goBack()"><i class="fas fa-arrow-left"></i> Voltar</button>
  <h3>Queremos saber mais sobre seu negócio, para isso, pedimos que preencha os campos abaixo:</h3>

  <div class="form-wrapper">
    <input type="text" class="form-control" id="email" placeholder="E-mail" [(ngModel)]="email" name="email" required>
    <input type="text" class="form-control" id="phone" placeholder="Telefone" [(ngModel)]="phone" name="phone" required>
    <div class="street">
      <input type="text" class="form-control" id="addressStreet" placeholder="Rua" [(ngModel)]="addressStreet" name="addressStreet" required>
      <input type="text" class="form-control" id="addressNumber" placeholder="N°" [(ngModel)]="addressNumber" name="addressNumber" required>
      <input type="text" class="form-control" id="addressComplement" placeholder="Complemento" [(ngModel)]="addressComplement" name="addressComplement">
      <input type="text" class="form-control" id="addressNeighborhood" placeholder="Bairro" [(ngModel)]="addressNeighborhood" name="addressNeighborhood" required>
    </div>
    <input type="text" class="form-control" id="city" placeholder="Cidade" [(ngModel)]="city" name="city" required>
    <input type="text" class="form-control" id="zipCode" placeholder="CEP" [(ngModel)]="zipCode" name="zipCode" required>
    <input type="text" class="form-control" id="country" placeholder="País" [(ngModel)]="country" name="country" required>

    <select id="state" [(ngModel)]="state" name="state" required>
      <option value="" disabled selected>Selecione um estado</option>
      <option *ngFor="let s of states" [value]="s">{{ s }}</option>
    </select>

    <div class="div-button"><button class="button-primary" (click)="nextModal()">Enviar</button>
    </div>
  </div>
</div>



<!-- Modal 3 -->
<div *ngIf="currentModal === 3" class="modal-content modal-tres">
  <button class="back-button" (click)="goBack()"><i class="fas fa-arrow-left"></i> Voltar</button>
  <h3>Ótimo, já estamos quase lá, crie uma senha de acesso. Lembre-se de criar uma senha forte!</h3>

  <div class="form-wrapper">
    <input type="password" class="form-control" id="loginPassword" placeholder="Senha de login"  [(ngModel)]="loginPassword" name="loginPassword" required>
    <input type="password" class="form-control" id="passwordTransaction" placeholder="Senha de transação"  [(ngModel)]="passwordTransaction" name="passwordTransaction" required>
    <input type="password" class="form-control" id="confirmPasswordTransaction" placeholder="Confirme sua senha de transação"  [(ngModel)]="confirmPasswordTransaction" name="confirmPasswordTransaction" required>

    <div class="div-button">
      <button class="button-primary" (click)="register()">Cadastrar</button>
    </div>
