<div class="container">

  <nav>

    <div class="logo">
      <img src="../../../assets/landingPage/logo_foguete.png" alt="Foguete" id="logo-foguete"><span> Star</span>Bank
    </div>

    <ul class="navbar">
      <li><a>Pra você</a></li>
      <li><a>Serviços</a></li>
      <li><a>Open Finance</a></li>
      <li><a>Educação Financeira</a></li>
      <li><a>Central de Atendimento</a></li>
    </ul>

    <button routerLink="/login" class=".btn-dark">
      Login <i class="fa-regular fa-user"></i>
    </button>
  </nav>

  <section class="banner">
    <div class="banner-left">
      <div class="texto">
        <h1>Boas-vindas ao <span><strong>Star</strong> Bank.</span></h1>
        <p>Sua jornada financeira, guiada pelo brilho da inovação.</p>
        <button routerLink="/register" class="button-primary">Abra uma conta <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="banner-right">
      <div>
        <img src="../../../assets/landingPage/cardebolinha.png" alt="">
      </div>
    </div>
  </section>

  <section class="slide-logo">
    <img class="mxm" src="../../../assets/landingPage/mxm.svg" alt="" srcset="">
    <img class="ima" src="../../../assets/landingPage/logo-ima-tech-white.webp" alt="" srcset="">
    <img class="mxm" src="../../../assets/landingPage/mxm.svg" alt="" srcset="">
    <img class="ima" src="../../../assets/landingPage/logo-ima-tech-black.webp" alt="" srcset="">
    <img class="mxm" src="../../../assets/landingPage/mxm.svg" alt="" srcset="">
    <img class="ima" src="../../../assets/landingPage/logo-ima-tech-white.webp" alt="" srcset="">
    <img class="mxm" src="../../../assets/landingPage/mxm.svg" alt="" srcset="">
    <img class="ima" src="../../../assets/landingPage/logo-ima-tech-black.webp" alt="" srcset="">
  </section>

  <section class="servicos">
    <h1>Nossos Serviços</h1>
    <p>Você no controle do seu dinheiro com o banco digital mais inovado do Brasil.
    </p>
    <div class="cards">
      <div class="card-servicos">
        <img src="../../../assets/landingPage/pexels-dinheiro.jpg" alt="" srcset="">
        <div>FAÇA SEU PIX <i class="bi bi-arrow-right-circle-fill"></i></div>
      </div>
      <div class="card-servicos">
        <img src="../../../assets/landingPage/pexels-casa.jpg" alt="" srcset="">
        <div>PAGUE SUAS CONTAS <i class="bi bi-arrow-right-circle-fill"></i></div>
      </div>
      <div class="card-servicos">
        <img src="../../../assets/landingPage/pexels-porquin.jpg" alt="" srcset="">
        <div>CONTROLE GASTOS<i class="bi bi-arrow-right-circle-fill"></i></div>
      </div>
      <div class="card-servicos ">
        <img src="../../../assets/landingPage/pexels-cartao.jpg" alt="" srcset="">
        <div>RECEBA PAGAMENTOS<i class="bi bi-arrow-right-circle-fill"></i></div>
      </div>
    </div>
  </section>

  <section class="card-section">
    <div class="card-left">
      <div class="texto">
        <h1>Personalize seu cartão do jeito que você quiser!</h1>
        <p>Eleve sua experiência financeira com nossos cartões virtuais. Transações seguras e flexíveis, disponíveis
          em qualquer lugar. Com a Star Pay, a modernidade está ao alcance dos seus dedos.</p>
        <button class="btn">Abra uma conta <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="card-right">
      <div>
        <img src="../../../assets/landingPage/trescards.png" alt="">
      </div>
    </div>
  </section>

  <section class="paralax">
    <div class="paralax-top">
      <div class="top-left">
        <img src="../../../assets/APP_mobile.png" alt="" srcset="">
      </div>
      <div class="top-right">
        <div class="texto">
          <h3>Abra sua conta <span><strong>gratuita</strong></span></h3>
          <p>Envie e receba dinheiro de forma mais prática e rápida. Faça Pix, TEDs e transferências com agendamento
            para todos os bancos sem pagar nada.</p>

          <div class="lista">
            <h3><strong>Seu dinheiro rendendo mais</strong></h3>
            <p>Rendimento maior que a poupança e disponível a qualquer momento.</p>
          </div>

          <div class="lista">
            <h3><strong>Conta digital grátis</strong></h3>
            <p>Envie e receba dinheiro para qualquer banco. Sem burocracia e sem custo.</p>
          </div>

          <div class="lista">
            <h3><strong>Saques em caixas eletrônicos</strong></h3>
            <p>Dinheiro na mão sempre que precisar.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card">
        <img src="../../../assets/landingPage/aspasduplas.png" alt="" srcset="">
        <p>"Com o Star Bank, sinto-me completamente seguro ao realizar minhas transações financeiras. A validação rigorosa de CPF/CNPJ e e-mail, juntamente com a criptografia de senhas, me dão tranquilidade, sabendo que meus dados estão protegidos contra qualquer duplicidade ou acesso não autorizado."</p>
        <div class="person">
          <img src="../../../assets/landingPage/persona-depoimento-3.png" alt="" srcset="">
          <div>
            <p>Pedro Oliveira</p>
            <p>Engenheiro Civil</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/landingPage/aspasduplas.png" alt="" srcset="">
        <p>"A experiência de usuário no Star Bank é excepcional! A interface intuitiva e personalizável
           torna a navegação suave e agradável. Além disso, os recursos avançados de usabilidade facilitam minhas operações bancárias,
            proporcionando uma experiência conveniente e eficiente."
        </p>
        <div class="person">
          <img src="../../../assets/landingPage/persona-depoimento-2.png" alt="" srcset="">
          <div>
            <p>Marina Silva</p>
            <p>Médica Oncologista</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/landingPage/aspasduplas.png" alt="" srcset="">
        <p>"Com o Star Bank, sinto-me completamente seguro ao realizar minhas transações financeiras. A validação rigorosa de CPF/CNPJ e e-mail, juntamente com a criptografia de senhas, me dão tranquilidade, sabendo que meus dados estão protegidos contra qualquer duplicidade ou acesso não autorizado."</p>
        <div class="person">
          <img src="../../../assets/landingPage/persona-depoimento-1.png" alt="" srcset="">
          <div>
            <p>Lucas Santos</p>
            <p>Advogado</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faq">

    <div class="faq-container">
      <h1>Ficou alguma dúvida?</h1>

      <div class="accordion">
        <div class="accordion-item" *ngFor="let item of accordionItems">
          <div class="accordion-title" (click)="toggleAccordion(item)">
            <h3>{{ item.title }}</h3>
            <i class="fa-solid fa-plus"></i>
          </div>

          <div class="accordion-content" [class.active]="item.active">
            <p>{{ item.content }}</p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="cta-app">
    <div class="app-left">
      <div class="texto">
        <h1>O jeito mais fácil de gerenciar suas finanças e seu negócio!</h1>
        <div class="badges">
          <img src="../../../assets/landingPage/App_Store_Badge.svg" alt="" srcset="">
          <img src="../../../assets/landingPage/google-play-badge.png" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="app-right">
      <div>
        <img src="../../../assets/landingPage/celulares-landing-page.png" alt="Celulares" id="celulares-landing-page">
      </div>
    </div>
  </section>

  <section class="newsletter">
    <div class="texto">
      <h2>Receba novidades!</h2>
      <p> Experimente a revolução bancária com o Star Bank: segurança, praticidade e inovação ao alcance de suas mãos! Junte-se a nós e transforme sua jornada financeira hoje mesmo.</p>
      <form action="/subscribe" method="post">
        <div class="input-group">
          <input type="email" name="email" placeholder=" Seu email" required>
          <button type="submit">Inscreva-se</button>
        </div>
      </form>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div>
        <div class="logo">
          <img src="../../../assets/landingPage/logo_foguete.png" alt="Foguete" id="logo-foguete"><span> Star</span>Bank

        </div>
        <p>Desbloqueie o poder do seu dinheiro<br>com o Star Bank: segurança e<br>conveniência em cada transação!<br>Faça parte da nossa comunidade<br>agora e descubra uma nova<br> maneira de bancar.</p>
      </div>

      <div>
        <h5>Sobre nós</h5>
        <ul>
          <li><a>Investidores</a></li>
          <li><a>Funcionalidades</a></li>
          <li><a>Valores</a></li>
          <li><a>FAQ</a></li>
        </ul>
      </div>

      <div>
        <h5>Produtos</h5>
        <ul>
          <li><a>Cartão de crédito</a></li>
          <li><a>Maquininhas StarTrek</a></li>
          <li><a>Conta corrente</a></li>
          <li><a>Faça um teste</a></li>
        </ul>
      </div>

      <div>
        <h5>Links Úteis</h5>
        <ul>
          <li><a>Pague suas contas</a></li>
          <li><a>Abra sua Conta</a></li>
          <li><a>Recarga de celular</a></li>
          <li><a>Documentação</a></li>
        </ul>
      </div>

      <div>
        <h5>Social</h5>
        <ul>
          <li><a>Contato</a></li>
          <li><a>Mídias Sociais</a></li>
          <li><a>Localização</a></li>
          <li><a>Novidades</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bot">
      <p>&copy; 2024 StarTech Todos os direitos reservados.</p>
      <ul>
        <li><i class="fa-brands fa-square-github"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
      </ul>
    </div>
  </footer>


</div>
