
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="body">

  <div class="img-container">
    <div>
      <h1><span>Star</span> Bank</h1>
    </div>

    <img src="/assets/images/logo_foguete.png" class="img-fluid" alt="logo-foguete">

    <div class="sub-titulo">
      <p> Sua jornada financeira, guiada <br>pelo brilho da inovação</p>
    </div>

  </div>

  <div class="login-container">
    <div class="card-body">

      <h3>Login</h3>
      <h6>Acesse sua conta</h6>

      <form>

        <div class="form-group">
          <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Senha" [(ngModel)]="password" name="password">
        </div>

        <p class="text-card text-right">
          <a class="links">Esqueceu sua senha?</a>
        </p>

        <button class="button-primary" (click)="loginUser()">
          Enviar
        </button>

        <p class="text-card">
          <a routerLink="/register" class="links">
            Ainda não tem conta? <span>Cadastre-se</span>
          </a>
        </p>

      </form>

      <div class="social-icons">
        <ul>
          <li><i class="fa-brands fa-square-github"></i></li>
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-square-twitter"></i></li>
        </ul>
      </div>

    </div>

    <div class="footer">
      <p>
        copyright 2024 StarTech All Rights Reserved
      </p>
    </div>

  </div>

</div>

