@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primaria: #F7D78C;
  --secundaria: #222222;

  --amarelo: #F3BE73;
  --amarelo10: #F7D78C;
  --amarelo20: #efe4d5;
  --preto: #222222;
  --verde: #00DDA3;
  --vermelho: #FF3157;
  --cinza: #52596D;
  --cinza2: #c4c4c4;

  --laranja: #FF725E;
  --laranja20: #ffd5cf;
  --branco: #eee;
  --andromeda: #23262E;

  --clr: #000000;
  --white: #fff;
  --color-base: #F7D78C;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--branco);
  width: 100%;
  height: 100vh;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  position: relative;
  // align-items: start;
}

.force {
  background: var(--branco) !important;
}


a {
  color: #eee;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.button-primary {
  position: relative;
  color: var(--clr);
  width: 250px;
  height: 40px;
  background: var(--amarelo);
  border-radius: 4px;
  border: 1px solid var(--clr);
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Khand';
  font-size: 20px;
  font-weight: 500;
  padding: 5px 0;
  z-index: 1;
  transform: 0.5s;
}

.button-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--amarelo10);
  border-radius: 4px;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(1);
  z-index: -1;
}

.button-primary:hover::before {
  transform-origin: right;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}
