<div class="container">
    <div class="header">
        <h1>Comprovante de Pagamento</h1>
    </div>
    <div class="details">
        <p><strong>Descrição:</strong> Pagamento de fatura</p>
        <p><strong>Data:</strong> 11 de março de 2024</p>
        <p><strong>Valor:</strong> R$ 100,00</p>
        <p><strong>Forma de Pagamento:</strong> PIX</p>
        <p><strong>Destinatário:</strong> João da Silva</p>
        <p><strong>Chave PIX:</strong> joao.silva&#64;example.com</p>
        <!-- Informações específicas para boleto -->
        <!-- <p><strong>Linha Digitável:</strong> 1234 5678 9012 3456 7890 1234 5678 9012 3456 7890</p> -->
        <!-- Informações específicas para transferência -->
        <!-- <p><strong>Banco:</strong> Banco do Brasil</p>
            <p><strong>Agência:</strong> 1234</p>
            <p><strong>Conta:</strong> 56789-0</p>
            <p><strong>Nome do Beneficiário:</strong> Empresa Exemplo LTDA</p> -->
    </div>
    <div class="footer">
        <p>Obrigado por utilizar nossos serviços.</p>
        <img src="assets/landingPage/logo_foguete.png" alt="Logo Star Bank" class="logo">
    </div>
</div>