<div class="container">
    <div class="header">
        <h1>Confirmação de Pagamento de Boleto</h1>
    </div>
    <div class="details">
        <p><strong>Deseja confirmar o pagamento do boleto no valor de R$ 200,00 para:</strong> Fictícia LTDA</p>
        <p><strong>Beneficiaário:</strong> Fictícia LTDA</p>
        <p><strong> Código de Barras:</strong> 1234 5678 9012 3456 7890 1234 5678 9012 3456 7890</p>
        <!-- Adicione mais informações do pagamento conforme necessário -->
    </div>
    <div class="footer">
        <button type="button" class="btn btn-secondary">Cancelar</button>
        <button type="button" class="btn btn-primary">Confirmar Pagamento</button>
    </div>
    <div>
        <img src="assets/landingPage/logo_foguete.png" alt="Logo Star Bank" class="logo">
    </div>
</div>
