.container {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #f5b40f; /* Amarelo Star Bank */
}

.details {
    margin-bottom: 20px;
}

.details p {
    margin: 5px 0;
    color: #333; /* Cor padrão de texto */
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px; /* Adiciona preenchimento interno aos botões */
    border: none; /* Remove a borda dos botões */
    border-radius: 5px; /* Adiciona bordas arredondadas aos botões */
    cursor: pointer; /* Altera o cursor para indicar que os botões são clicáveis */
    margin-right: 10px; /* Adiciona espaçamento entre os botões */
}

.btn-secondary {
    background-color: #6c757d; /* Cor cinza */
    color: #fff; /* Cor do texto */
}

.btn-primary {
    background-color: #f5b40f; /* Amarelo Star Bank */
    color: #fff; /* Cor do texto */
}

.logo {
    width: 12px; /* Defina o tamanho da logo conforme necessário */
    position: static;
    top: 50%;
    left: 50%;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Para garantir que a margem automática funcione */
    transform: translate(-50%, -50%);
    margin-top: 40px;
}
